# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# IDE
.idea/

# Build
dist/
build/
*.spec

# Test / coverage
.coverage
htmlcov/
.pytest_cache/

# Environment
.env

# Streamlit
.streamlit/

# local data
data/
test.py
